
@{
    ViewBag.Title = "Index";
}
<div class="container" style="max-width: 1133px;">
    <video autoplay muted loop style="width: 100%; height: 100%; padding: 32px; margin: -1px;">
        <source src="~/Content/image/Y2Mate.is - India's largest Precision Farm - Simply Fresh  140 Acre Modern Agriculture Farm-iUNNec3U_Pc-1080p-1646288892188.mp4"
                type="video/mp4">
    </video>
</div>
<div class="center">
    <div class="full-title">
        <div class="title"> E-farming Way to Become </div>
        <div class="sub_title"> Modern Farmer </div>
    </div>
    <div class="btns">
        <button>@Html.ActionLink("Registration", "FRegistration", "Home")</button>
        <button>Learn More</button>
    </div>
</div>
<section id="about" class="about">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                <img src="~/Content/image/Tomato Photo.jpeg" class="img-fluid aos-init aos-animate" alt="" data-aos="zoom-in">
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0" style="background-color:bisque">
                <h2 data-aos="fade-up" class="aos-init aos-animate"><b>Grow With Greenery</b></h2>
                <p data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
                    <pre style="background-color:azure"> <h5 style="color:black"><b> “Farming looks mighty easy when your plow 
    is a pencil, and you’re a thousand miles from 
      the corn field.”

                                              — President Dwight D. Eisenhower </b></h5>
          </pre>
                </p>
                <h3 data-aos="fade-up" class="aos-init aos-animate"></h3>
                <p data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
                    <pre style="background-color:azure"> <h5 style="color:black"><b>“When tillage begins, other arts follow. The farmers, 
  therefore, are the founders of human civilization.”  

                                             —  Daniel Webster. </b></h5>
          </pre>
                </p>

            </div>
        </div>
    </div>


</section>



